<app-header></app-header>
<div class="container-wrapper">
    <div class="mt-2">
        <ul class="nav nav-tabs border-0" >
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-basic']" >Basic Information</a>
            </li>
            <li class="nav-item tab-list disabled">
                <span class="nav-link tab-list-content" >Guarantor Details</span>
            </li>
            <li class="nav-item tab-list disabled">
                <span class="nav-link tab-list-content" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-admission']" 
                  >Admission Details</span>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" data-toggle="tab" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-payorplan']" role="tab" aria-controls="contact"
                    aria-selected="false">Payor/Plan Details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" data-toggle="tab" routerLinkActive="active"
                    [routerLink]="['/registration-re/child-authorization']" role="tab" aria-controls="contact"
                    aria-selected="false">Authorization Details</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet> </router-outlet>