<!-- <p>ps-registration works!</p> -->

<div class="title bg-dark color-white">
    <div class="container">
        <h2 class="AvenirLTStd-Heavy m-0">PS Registration</h2>
    </div>
</div>
<div class="container-wrapper">
    <div class="ps-registration-tabs-container">
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Basic Information</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Guarantor details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">Admission Details</a>
            </li>
            <li class="nav-item tab-list">
                <a class="nav-link tab-list-content" id="contact-tab" data-toggle="tab" href="#payorplan" role="tab"
                    aria-controls="contact" aria-selected="false">Payor/Plan Details</a>
            </li>
        </ul>
        <div class="tab-content bg-grey-l p-3" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            <h4 class="pb-2 AvenirLTStd-Heavy m-0 ">Basic Details</h4>

                            <form >
                                <form class="border-2">
                                    <div class="form-group">
                                        <div class="d-flex row m-0">
                                            <label class="col-md-3 col-sm-4 col-4">
                                                PS Name
                                                <span class="text-danger">*</span>
                                            </label>

                                            <div class="d-flex col-md-9 col-sm-8 p-0 col-8">
                                                <div class="row m-0 w-100">
                                                    <div class="input-group mb-2 col-md-2 col-sm-2  col-12 p-0">
                                                        <select class="form-control p-0 align-items-center">
                                                            <option selected>Select</option>
                                                            <option value="1">DR</option>
                                                            <option value="2">MISS</option>
                                                            <option value="3">MR</option>
                                                            <option value="4">MRS</option>
                                                            <option value="5">MS</option>

                                                        </select>
                                                    </div>


                                                    <div class="input-group mb-2 col-md-5 col-sm-5  col-12 firstname ">
                                                        <input type="text" class="form-control" aria-label="firstname" placeholder="First Name">
                                                    </div>

                                                    <div class="input-group mb-2 col-md-5 col-sm-5 p-0 col-12 lastname">
                                                        <input type="text" class="form-control" aria-label="Last Name" placeholder="Last Name">
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                    <div class="d-flex row m-0">
                                        <div class="col-md-6 p-0 pr-md-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4">
                                                    Date of Birth <span class="text-danger">*</span>
                                                </label>
                                                <div class="input-group mb-2 col-md-6 col-sm-8 p-0 col-8 date-input">
                                                    <!-- <input type="text" class="form-control " aria-label="date" placeholder="DD/MM/YYYY"> -->

                                                        <input type="text"
                                                        placeholder="DD/MM/YYYY"
                                                               class="form-control"
                                                               aria-label="date"
                                                               bsDatepicker>
                                                               <!-- <mat-form-field>
                                                                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                                                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                              </mat-form-field> -->


                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 p-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4 d-flex align-items-center gender-title p-0">
                                                    Gender <span class="text-danger">*</span>
                                                </label>
                                                <div class="input-group mb-2 col-md-6 col-sm-8 p-0 pl-md-0 col-8   date-input">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Male</option>
                                                        <option value="1">Female</option>
                                                        <option value="2">Unknown</option>


                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="d-flex row m-0">
                                        <div class="col-md-6 p-0 pr-md-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4">
                                                   Race <span class="text-danger">*</span>
                                                </label>
                                                <div class="input-group mb-2 col-md-6 col-sm-8 p-0 pl-md-0 col-8   date-input">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">Female</option>
                                                        <option value="2">Unknown</option>


                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 p-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4 d-flex align-items-center gender-title p-0">
                                                    Marital Status <span class="text-danger">*</span>
                                                </label>
                                                <div class="input-group mb-2 col-md-6 col-sm-8 p-0 pl-md-0 col-8   date-input">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">Single</option>
                                                        <option value="2">Married</option>


                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="d-flex row m-0 align-items-center">
                                        <label class="col-md-3 col-sm-4 col-4">
                                            SSN
                                        </label>
                                        <div class="d-flex col-md-3 p-0 col-sm-8 col-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control" aria-label="salutation" placeholder="SSN ">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </form>

                            <section class="address">
                                <h4 class="py-2
                                 AvenirLTStd-Heavy m-0 address-title p-0">Address</h4>
                                <form class="border-2">
                                    <div class="d-flex row m-0">
                                        <div class="col-md-6 p-0 pr-md-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4">
                                                    Location <span class="text-danger">*</span>
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>


                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 p-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                                    Address Lane #1<span class="text-danger">*</span>
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8  date-input">
                                                    <input type="text" class="form-control" aria-label="Address Lane #1"
                                                    placeholder="Address Lane #1">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="d-flex row m-0">
                                        <div class="col-md-6 p-0 pr-md-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4">
                                                    Zip Code <span class="text-danger">*</span>
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                                    <input type="text" class="form-control " aria-label="date" placeholder="Zip Code">
                                                    <div class="zip-icon">
                                                        <img src="assets/images/zip.gif" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 p-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4 p-0 d-flex align-items-center gender-title p-0">
                                                    Phone <span class="text-danger">*</span>
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0  col-8 date-input d-flex">
                                                    <!-- <div class="d-flex col-md-4 p-0 col-sm-8 col-8"> -->
                                                        <div class="  date-input  d-flex align-items-center">
                                                            <select class="form-control p-0 align-items-center phone-select">
                                                                <option selected>Select</option>
                                                                <option value="1">+91</option>
                                                                <option value="2">+014</option>
                                                            </select>
                                                            <div class="input-group ">
                                                                <input type="text" class="form-control" aria-label="salutation"
                                                                    placeholder="Phone Number">
                                                            </div>
                                                        </div>

                                                    <!-- </div> -->
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="d-flex row m-0">
                                        <div class="col-md-6 p-0 pr-md-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4">
                                                    City <span class="text-danger">*</span>
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0  col-8 date-input ">
                                                    <input type="text" class="form-control " aria-label="date" placeholder="City">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 p-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                                    State <span class="text-danger">*</span>
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8   date-input">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>


                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="d-flex row m-0">
                                        <div class="col-md-6 p-0 pr-md-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4">
                                                    County <span class="text-danger">*</span>
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>


                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 p-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                                    Time Zone <span class="text-danger">*</span>
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8  date-input">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>


                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="d-flex row m-0">
                                        <div class="col-md-6 p-0 pr-md-0">
                                            <div class="row m-0">
                                                <label class="col-md-6 col-sm-4 col-4">
                                                    Country
                                                </label>
                                                <div
                                                    class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>


                                                    </select>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                </form>
                            </section>
                            <div class="next justify-content-end mt-3">
                                <button type="button" class="next-step btn-next">Next</button>
                            </div>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                <div class="d-flex">
                    <h4 class="pb-2 AvenirLTStd-Heavy m-0 ">Guarantor Details</h4>
                    <div class="d-flex align-items-center pl-2">
                        <label class="customcheck ">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label for='checkbox' class="checkbox">
                            <span>Self</span>
                        </label>
                    </div>
                </div>

                <div>
                    <form class="border-2">
                        <!-- <div class="d-flex align-items-center">
                    <label class="customcheck ">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    <label for='checkbox' class="checkbox">
                        <span>Self</span>
                    </label>
                </div> -->

                        <div>
                            <div class="row m-0">
                                <label class="col-md-3 col-sm-4 col-4">Relationship<span
                                        class="text-danger">*</span></label>
                                <div class="input-group mb-2 col-md-3 col-sm-8 col-8 p-0">
                                    <select class="form-control p-0 align-items-center">
                                        <option selected>Select</option>
                                        <option value="1">New York</option>
                                        <option value="2">Texas</option>
                                        <option value="3">New York</option>
                                        <option value="4">New York</option>
                                        <option value="5">New York</option>

                                    </select>
                                </div>

                            </div>
                            <div class="d-flex row m-0">
                                <label class="col-md-3 col-sm-4 col-4">
                                    Guarantor Name
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="d-flex col-md-9 col-sm-8 col-8 p-0">
                                    <div class="row m-0 w-100">
                                        <div class="input-group mb-2 col-md-4 col-sm-6 p-0 col-6">
                                            <input type="text" class="form-control" aria-label="salutation"
                                                placeholder="Last Name">
                                        </div>
                                        <div class="input-group mb-2 col-md-4 col-sm-6 pr-0 col-6">
                                            <input type="text" class="form-control" aria-label="salutation"
                                                placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 ">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            SSN <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2 col-md-6 col-sm-8 p-0 col-8 date-input ">
                                            <input type="text" class="form-control " aria-label="date" placeholder="SSN">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 p-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4 pr-0 d-flex align-items-center gender-title ">
                                            Occupation <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2 col-md-6 col-sm-8  col-8 p-0 ">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>UNKNOWN</option>
                                                <option value="1">DEPENDENT</option>
                                                <option value="2">CHILD FIN RESP</option>


                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                    <section class="address">

                        <div class="d-flex align-items-center">
                            <h4 class="py-2
                 AvenirLTStd-Heavy m-0 address-title p-0">Address</h4>
                            <div class="d-flex align-items-center">
                                <label class="customcheck margin-left-15">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label for='checkbox' class="">
                                    <span>Same as PS Address</span>
                                </label>
                            </div>
                        </div>
                        <form class="border-2">
                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 pr-md-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            Location <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 p-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                            Address Lane #1<span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8  date-input">
                                            <input type="text" class="form-control" aria-label="Address Lane #1"
                                                placeholder="Address Lane #1">
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 pr-md-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            Zip Code <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                            <input type="text" class="form-control " aria-label="date"
                                                placeholder="Zip Code">
                                            <div class="zip-icon">
                                                <img src="assets/images/zip.gif" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 p-0">
                                    <div class="row m-0">
                                        <label
                                            class="col-md-6 col-sm-4 col-4 p-0 d-flex align-items-center gender-title p-0">
                                            Phone <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0  col-8 date-input d-flex">
                                            <div class="  date-input  d-flex align-items-center">
                                                <select class="form-control p-0 align-items-center phone-select">
                                                    <option selected>Select</option>
                                                    <option value="1">+91</option>
                                                    <option value="2">+014</option>
                                                </select>
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" aria-label="salutation"
                                                        placeholder="Phone Number">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 pr-md-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            City <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0  col-8 date-input ">
                                            <input type="text" class="form-control " aria-label="date" placeholder="City">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 p-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                            State <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8   date-input">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 pr-md-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            County <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 p-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                            Time Zone <span class="text-danger">*</span>
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8  date-input">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 pr-md-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            Country
                                        </label>
                                        <div class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </form>
                    </section>
                    <div class="d-flex align-items-center justify-content-between mt-3">
                        <div class="previous">
                            <button type="button" class="btn-info  btn-next prev-step">Previous</button>
                        </div>
                        <div class="next">
                            <button type="button" class="btn-info  btn-next">Save</button>
                        </div>
                        <div class="next">
                            <button type="button" class="btn-info next-step btn-next">Next</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                    <h4 class="pb-2 AvenirLTStd-Heavy m-0 ">Admission Details</h4>

                        <div>
                            <form class="border-2">

                                <div class="d-flex row m-0">
                                    <div class="col-md-6 p-0 pr-md-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4">
                                                PS
                                            </label>
                                            <div
                                                class="input-group mb-2 col-md-6 col-sm-8 p-0 col-8 date-input ">
                                                <input type="text" class="form-control " aria-label="date" placeholder="PS">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4 d-flex align-items-center gender-title pr-0">
                                                Coordinator
                                            </label>
                                            <div
                                                class="input-group mb-2 col-md-6 col-sm-8 p-0  col-8  date-input">
                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Coordinator">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="d-flex row m-0">
                                    <div class="col-md-6 p-0 pr-md-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4">
                                                Guarantor
                                            </label>
                                            <div
                                                class="input-group mb-2 col-md-6 col-sm-8 p-0  col-8 date-input ">
                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Guarantor">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4 d-flex align-items-center gender-title pr-0">
                                                Admission Date
                                            </label>
                                            <div
                                                class="input-group mb-2 col-md-6 col-sm-8 p-0  col-8   date-input">
                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Admission Date ">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="d-flex row m-0">
                                    <div class="col-md-6 p-0 pr-md-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4">
                                                First Visit Date
                                            </label>
                                            <div
                                                class="input-group mb-2 col-md-6 col-sm-8 p-0 col-8 date-input ">
                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="First Visit Date">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4 d-flex align-items-center gender-title pr-0">
                                                Referred Date
                                            </label>
                                            <div
                                                class="input-group mb-2 col-md-6 col-sm-8 p-0  col-8   date-input">
                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Referred Date ">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </form>
                            <h4 class="AvenirLTStd-Heavy py-2 m-0">ICD-10 Diagnosis Code <span class="text-danger">*</span></h4>
                            <div class="">

                                <table class="table border-1 diagnosis-code-table">
                                    <thead>
                                        <tr>

                                            <th scope="col">Rank</th>
                                            <th scope="col">Diagnosis Code </th>
                                            <th scope="col">Diagnosis Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>
                                                <div class="input-group">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>
                                                        <option value="3">New York</option>
                                                        <option value="4">New York</option>
                                                        <option value="5">New York</option>

                                                    </select>
                                                </div>

                                            </td>
                                            <td>

                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Referred Date">
                                            </td>
                                            <td class="">
                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Referred Date"></td>
                                        </tr>
                                        <tr>

                                            <td>
                                                <div class="input-group">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>
                                                        <option value="3">New York</option>
                                                        <option value="4">New York</option>
                                                        <option value="5">New York</option>

                                                    </select>
                                                </div>

                                            </td>
                                            <td>

                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Referred Date">
                                            </td>
                                            <td class="">
                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Referred Date"></td>
                                        </tr>
                                        <tr>

                                            <td>
                                                <div class="input-group">
                                                    <select class="form-control p-0 align-items-center">
                                                        <option selected>Select</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>
                                                        <option value="3">New York</option>
                                                        <option value="4">New York</option>
                                                        <option value="5">New York</option>

                                                    </select>
                                                </div>

                                            </td>
                                            <td>

                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Referred Date">
                                            </td>
                                            <td class="">
                                                <input type="text" class="form-control " aria-label="date"
                                                    placeholder="Referred Date"></td>
                                        </tr>

                                    <tr>
                                        <td class="border-right-0">

                                        </td>
                                        <td class="border-right-0">
                                            <div>
                                                <div class="next pr-0 d-flex justify-content-center">
                                                    <button type="button" class="btn-info  btn-next">Add Diagnosis</button>
                                                </div>

                                            </div>

                                        </td>
                                        <td class="border-right-0">

                                        </td>
                                    </tr>

                                    </tbody>

                                </table>

                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="previous">
                                <button type="button" class="btn-info  btn-next prev-step">Previous</button>
                            </div>
                            <div class="next">
                                <button type="button" class="btn-info  btn-next">Save</button>
                            </div>
                            <div class="next">
                                <button type="button" class="btn-info next-step btn-next">Next</button>
                            </div>
                        </div>





            </div>
            <div class="tab-pane fade" id="payorplan" role="tabpanel" aria-labelledby="contact-tab">

                    <h4 class="pb-2 AvenirLTStd-Heavy m-0 ">Payor Plan Details</h4>
                    <div class="border-2">

                        <form>


                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 pr-md-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            Payor Code
                                        </label>
                                        <div
                                            class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input p-0">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 p-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                            Plan Code
                                            <!-- <span class="text-danger">*</span> -->
                                        </label>
                                        <div
                                            class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 p-0 date-input">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 pr-md-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            Plan
                                            <!-- <span class="text-danger">*</span> -->
                                        </label>
                                        <div
                                            class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input p-0">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 p-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                            Rank
                                            <!-- <span class="text-danger">*</span> -->
                                        </label>
                                        <div
                                            class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 p-0 date-input">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Select</option>
                                                <option value="1">New York</option>
                                                <option value="2">Texas</option>


                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="d-flex row m-0 align-items-center">
                                <label class="col-md-3 col-sm-4 col-4">
                                    Effective From
                                    <!-- <span class="text-danger">*</span> -->
                                </label>
                                <div class="d-flex col-md-3  p-0 col-sm-8 col-8">
                                    <div class="input-group mb-2 ">
                                        <input type="text" class="form-control" aria-label="salutation"
                                            placeholder="Effective From">
                                    </div>
                                </div>
                            </div>






                        </form>

                        <div class="d-flex align-items-center">

                            <h4 class="py-2
                                    AvenirLTStd-Heavy m-0 address-title p-0">Subscriber Details</h4>
                            <div class="d-flex align-items-center">
                                <label class="customcheck margin-left-15">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label for='checkbox' class="">
                                    <span>Self</span>
                                </label>
                            </div>
                        </div>
                        <form>
                            <div class="d-flex row m-0">
                                <label class="col-md-3 col-sm-4 col-4">
                                    Subscriber Name
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="d-flex col-md-9 col-sm-8 col-8 p-0">
                                    <div class="row m-0 w-100">
                                        <div class="input-group mb-2 col-md-4 col-sm-6 p-0 col-6">
                                            <input type="text" class="form-control" aria-label="salutation"
                                                placeholder="Last Name">
                                        </div>
                                        <div class="input-group mb-2 col-md-4 col-sm-6 pr-0 col-6">
                                            <input type="text" class="form-control" aria-label="salutation"
                                                placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex row m-0">
                                <div class="col-md-6 p-0 pr-md-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4">
                                            Date of Birth
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div
                                            class="input-group mb-2 col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input p-0">
                                            <input type="text" class="form-control " aria-label="date" placeholder="DD/MM/YYYY">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 p-0">
                                    <div class="row m-0">
                                        <label class="col-md-6 col-sm-4 col-4 d-flex align-items-center gender-title p-0">
                                            Gender <span class="text-danger">*</span>
                                        </label>
                                        <div
                                            class="input-group mb-2 col-md-6 col-sm-8 p-0 pl-md-0 col-8  p-0 date-input">
                                            <select class="form-control p-0 align-items-center">
                                                <option selected>Male</option>
                                                <option value="1">Female</option>
                                                <option value="2">Unknown</option>


                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>

                                <div class="d-flex row m-0">
                                    <div class="col-md-6 p-0 pr-md-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4">
                                                Location <span class="text-danger">*</span>
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                                <select class="form-control p-0 align-items-center">
                                                    <option selected>Select</option>
                                                    <option value="1">New York</option>
                                                    <option value="2">Texas</option>


                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                                Address Lane #1<span class="text-danger">*</span>
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8  date-input">
                                                <input type="text" class="form-control" aria-label="Address Lane #1"
                                                placeholder="Address Lane #1">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="d-flex row m-0">
                                    <div class="col-md-6 p-0 pr-md-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4">
                                                Zip Code <span class="text-danger">*</span>
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                                <input type="text" class="form-control " aria-label="date" placeholder="Zip Code">
                                                <div class="zip-icon">
                                                    <img src="assets/images/zip.gif" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4 p-0 d-flex align-items-center gender-title p-0">
                                                Phone <span class="text-danger">*</span>
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0  col-8 date-input d-flex">
                                                    <div class="  date-input  d-flex align-items-center">
                                                        <select class="form-control p-0 align-items-center phone-select">
                                                            <option selected>Select</option>
                                                            <option value="1">+91</option>
                                                            <option value="2">+014</option>
                                                        </select>
                                                        <div class="input-group ">
                                                            <input type="text" class="form-control" aria-label="salutation"
                                                                placeholder="Phone Number">
                                                        </div>
                                                    </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="d-flex row m-0">
                                    <div class="col-md-6 p-0 pr-md-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4">
                                                City <span class="text-danger">*</span>
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0  col-8 date-input ">
                                                <input type="text" class="form-control " aria-label="date" placeholder="City">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                                State <span class="text-danger">*</span>
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8   date-input">
                                                <select class="form-control p-0 align-items-center">
                                                    <option selected>Select</option>
                                                    <option value="1">New York</option>
                                                    <option value="2">Texas</option>


                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="d-flex row m-0">
                                    <div class="col-md-6 p-0 pr-md-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4">
                                                County <span class="text-danger">*</span>
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                                <select class="form-control p-0 align-items-center">
                                                    <option selected>Select</option>
                                                    <option value="1">New York</option>
                                                    <option value="2">Texas</option>


                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 p-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4  d-flex align-items-center gender-title p-0">
                                                Time Zone <span class="text-danger">*</span>
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8  date-input">
                                                <select class="form-control p-0 align-items-center">
                                                    <option selected>Select</option>
                                                    <option value="1">New York</option>
                                                    <option value="2">Texas</option>


                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="d-flex row m-0">
                                    <div class="col-md-6 p-0 pr-md-0">
                                        <div class="row m-0">
                                            <label class="col-md-6 col-sm-4 col-4">
                                                Country
                                            </label>
                                            <div
                                                class="input-group mb-2  col-md-6 col-sm-8 p-0 pl-md-0 col-8 date-input ">
                                                <select class="form-control p-0 align-items-center">
                                                    <option selected>Select</option>
                                                    <option value="1">New York</option>
                                                    <option value="2">Texas</option>


                                                </select>
                                            </div>
                                        </div>
                                    </div>



                                </div>


                        </form>

                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-3">
                        <div class="previous">
                            <button type="button" class="btn-info  btn-next prev-step">Previous</button>
                        </div>
                        <div class="next">
                            <button type="button" class="btn-info  btn-next">Save</button>
                        </div>
                    </div>


            </div>
        </div>
    </div>
</div>


<script>
        $(function () {
            $('.btn-circle').on('click', function () {
                $('.btn-circle.btn-info').removeClass('btn-info').addClass('btn-default');
                $(this).addClass('btn-info').removeClass('btn-default').blur();
            });

            $('.next-step, .prev-step').on('click', function (e) {
                var $activeTab = $('.tab-pane.active');

                $('.btn-circle.btn-info').removeClass('btn-info').addClass('btn-default');

                if ($(e.target).hasClass('next-step')) {
                    var nextTab = $activeTab.next('.tab-pane').attr('id');
                    $('[href="#' + nextTab + '"]').addClass('').removeClass('btn-default');
                    $('[href="#' + nextTab + '"]').tab('show');
                }
                else {
                    var prevTab = $activeTab.prev('.tab-pane').attr('id');
                    $('[href="#' + prevTab + '"]').addClass('').removeClass('btn-default');
                    $('[href="#' + prevTab + '"]').tab('show');
                }
            });
        });
    </script>

